<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import jquery-->

  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

      <style type="text/css">
        .carousel {
        min-height: 325px;
        }
        .gborder {

        border-radius: 15px;

    }


  </style>
    <script>

        var searchValues = {{ searchValues| tojson }};
        console.log("List of Search Values");
        var queryValueArray = Object.keys(searchValues);

        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.autocomplete');
          var instances = M.Autocomplete.init(elems, {
            data:searchValues,
          });
        });





        $(document).ready(function() {
            $( ".loader" ).hide();
            $('.carousel').carousel();
         $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true
            });
            autoplay();
            function autoplay() {
                $('.carousel').carousel('next');
                setTimeout(autoplay, 7000);
            }




            <!-- Redirect to python route to display results passing the query in the URL-->


            $(".searchbutton").click(function() {
                queryText = $(".querytext").val();
                resultsURL = "/result/" + queryText;
                if (queryText.trim() != ""  && queryValueArray.indexOf(queryText.trim())!== -1 ) {
                    $( ".mainbody" ).hide();
                    $( ".loader" ).show();
                    window.location.href = resultsURL;
                }
                else{
                    alert("You must enter a search term thats valid in the dropdown")
                }

            });



        });
    </script>


    <title>MoneyWord - Find out what words will help you earn more money </title>


  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159357780-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-159357780-1');
</script>
</head>
<body>

</body>


<body>
  <div class="section no-pad-bot mainbody" id="index-banner">
    <div class="container">
      <br><br>

    <div class="row center">
          <a href="https://www.moneyword.io"><img src="{{url_for('static', filename='moneyword.png')}}" alt="logo"><h8 class="red-text">Beta</h8></a><br>
          <h6 class="header col s12 light center ">Find out what words will help you earn more money</h6>
      </div>
      <div class="row center">

      </div>
      <div class="row center">
          <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">search</i>
                  <input type="text" id="autocomplete-input" class="autocomplete querytext">
                  <label for="autocomplete-input">Search for a Job</label>
<!--                  <textarea id="icon_prefix2" class="materialize-textarea querytext"></textarea>-->
<!--                  <label for="icon_prefix2">Search for a Job</label>-->
                </div>
              </div>
        </form>

        <a class="waves-effect waves-light btn-large green searchbutton"><i class="material-icons left">arrow_forward</i>Search</a>
      </div>
      <br><br>

    </div>
  </div>
<div class="loader container center">
    <br><br><br>
    <img src="{{url_for('static', filename='moneyword.png')}}" alt="logo"><br><br>
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div><br>
<h6>Please wait while we load your data</h6>
</div>
<div class="row  grey lighten-2">
  <div class="container">

  <div class="carousel carousel-slider ">
         <div class="carousel-item " href="#three!">
           <h6 class="black-text "><i class="material-icons small">blur_on</i>Explore your career path by learning how different words/skills connect to other jobs  </h6>
      <img class="gborder " src="{{url_for('static', filename='graphresize.png')}}" alt="logo"><Br><Br>

    </div>
    <div class="carousel-item  " href="#one!">
        <h6 class="black-text"><i class="material-icons small">trending_up</i> Analyze the top words and how much they are worth </h6>
      <img class="gborder " src="{{url_for('static', filename='Topkeywords5.PNG')}}" alt="logo"><br>
    </div>


    <div class="carousel-item " href="#two!">
        <h6 class="black-text"><i class="material-icons small">dvr</i> Analyze the top 50 words </h6>
      <img class="gborder " src="{{url_for('static', filename='detailedscoreresize.PNG')}}" alt="logo">
    </div>


  </div>
</div>



  </div>
<br><br>
  <footer class="page-footer grey ">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Large companies like Google, Microsoft and Facebook deploy cutting edge machine learning and statistical methods to make better products and increase their profit.  Now the same techniques are available to help you select the most relevant words on your resume and earn more money! </p>


        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text darken-4" href="https://docs.google.com/forms/d/e/1FAIpQLSdEYUo-uJ1RXnSmFzYTBpOTzZBFyr1ZNpbl6lMkGznTbfYU2g/viewform">  <i class="material-icons tiny">email</i>  Contact or Feedback</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="green-text text-lighten-3">Doug Meyers</a>
      </div>
    </div>
  </footer>

  </body>
</html>