<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>

        var searchValues = {{ searchValues| tojson }};

        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.autocomplete');
          var instances = M.Autocomplete.init(elems, {
            data:{
                  "Apple": null,
                  "Microsoft": null,
                  "Google": 'https://placehold.it/250x250'
                },
          });
        });


        $(document).ready(function() {
            $( ".loader" ).hide();
            <!-- Redirect to python route to display results passing the query in the URL-->


            $(".searchbutton").click(function() {
                queryText = $(".querytext").val();
                resultsURL = "/result/" + queryText;
                if (queryText.trim() != "") {
                    $( ".mainbody" ).hide();
                    $( ".loader" ).show();
                    window.location.href = resultsURL;
                }
                else{
                    alert("You must enter a search term")
                }

            });



        });
    </script>


    <title>{{searchQuery}}</title>
</head>
<body>

</body>


<body>
  <div class="section no-pad-bot mainbody" id="index-banner">
    <div class="container">
      <br><br>

    <div class="row center">
          <img src="{{url_for('static', filename='moneyword.png')}}" alt="logo">
          <h6 class="header col s12 light center ">Find out what words will help you earn more money</h6>
      </div>
      <div class="row center">

      </div>
      <div class="row center">
          <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">search</i>
                  <input type="text" id="autocomplete-input" class="autocomplete querytext">
                  <label for="autocomplete-input">Search for a Job</label>
<!--                  <textarea id="icon_prefix2" class="materialize-textarea querytext"></textarea>-->
<!--                  <label for="icon_prefix2">Search for a Job</label>-->
                </div>
              </div>
        </form>

        <a class="waves-effect waves-light btn-large green searchbutton"><i class="material-icons left">arrow_forward</i>Search</a>
      </div>
      <br><br>

    </div>
  </div>
<div class="loader container center">
    <br><br><br>
    <img src="{{url_for('static', filename='moneyword.png')}}" alt="logo"><br><br>
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div><br>
<h6>Scrapping Indeed jobs and running Topic models may take several minutes!</h6>
</div>

  <div class="container">
    <div class="section">


    </div>
    <br><br>
  </div>

  <footer class="page-footer grey ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Just a couple of guys trying to make their first million (or 2)</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3">Doug Meyers</a>
      </div>
    </div>
  </footer>

  </body>
</html>