<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import jquery-->

  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

      <style type="text/css">
        .carousel {
        min-height: 325px;
        }
        .gborder {

        border-radius: 15px;
    }
          .input-field.input-outlined > input {
	 border: 2px solid #eee;
	 padding: 12px 16px 14px;
	 width: calc(100% - 2.5rem);
	 float: none;
	 display: block;
	 border-radius: 4px;
	 transition: box-shadow, border-color 0.15s;
}
 .input-field.input-outlined > input:focus:not([readonly]) {
	 border-color: #32a662;
	 box-shadow: 0 1px 0 0px #26a69b;
}
 .input-field.input-outlined > label {
	 left: 27px;
	 display: inline-flex;
	 width: auto !important;
}
 .input-field.input-outlined > label.active {
	 background: white;
	 border-left: 4px solid white;
	 border-right: 4px solid white;
	 transform: translateY(-1.75rem);
	 top: 1rem;
}

.gray {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}



  </style>
    <script>

        var searchValues = {{ searchValues| tojson }};
        var directory = {{ directory | tojson }};
        console.log("List of Search Values");
        var queryValueArray = Object.keys(searchValues);
        console.log("List of directory Values");
       console.log(directory);

        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.autocomplete');
          var instances = M.Autocomplete.init(elems, {
            data:searchValues,
          });
        });





        $(document).ready(function() {
            $( ".loader" ).hide();
            $('.carousel').carousel();
         $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true
            });
            autoplay();
            function autoplay() {
                $('.carousel').carousel('next');
                setTimeout(autoplay, 7000);
            }




            <!-- Redirect to python route to display results passing the query in the URL-->


            $(".searchbutton").click(function() {
                queryText = $(".querytext").val();
                resultsURL = "/result/" + queryText;
                if (queryText.trim() != ""  && queryValueArray.indexOf(queryText.trim())!== -1 ) {
                    $( ".mainbody" ).hide();
                    $( ".loader" ).show();
                    window.location.href = resultsURL;
                }
                else{
                    alert("You must enter a search term thats valid in the dropdown")
                }

            });



        });
    </script>


    <title>MoneyWord - Find out what words will help you earn more money </title>


  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159357780-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-159357780-1');
</script>
</head>
<body>

</body>


<body>
  <div class="section no-pad-bot mainbody" id="index-banner">
    <div class="container">
      <br><br>

    <div class="row center">
          <a href="https://www.moneyword.io"><img src="{{url_for('static', filename='moneyword.png')}}" alt="logo"><h8 class="red-text">Beta</h8></a><br>
          <h6 class="header col s12 light center grey-text text-darken-1">Find out which resume words are worth the most on your resume</h6>
      </div>

      <div class="row center">
          <form class="col s12">
              <div class="row">
                <div class="input-field input-outlined col s12">

                  <input type="text" id="autocomplete-input" class="autocomplete querytext">
                  <label class="black-text" for="autocomplete-input"><i class="material-icons  left">search</i>Select a job to search for resume keywords</label>
<!--                  <textarea id="icon_prefix2" class="materialize-textarea querytext"></textarea>-->
<!--                  <label for="icon_prefix2">Search for a Job</label>-->

                </div>
              </div>

        </form>

 <a class="btn-large waves-effect waves-light  green searchbutton valign-wrapper">Search for Keywords</a>

      </div>
      <br><br>

    </div>
  </div>
<div class="loader container center">
    <br><br><br>
    <img src="{{url_for('static', filename='moneyword.png')}}" alt="logo"><br><br>
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div><br>
<h6>Please wait while we load your data</h6>
</div>
<div class="row  green lighten-5">
  <div class="container">

<!--  <div class="carousel carousel-slider ">-->
<!--         <div class="carousel-item " href="#three!">-->
<!--           <h6 class="black-text "><i class="material-icons small">blur_on</i>Explore your career path by learning how different words/skills connect to other jobs  </h6>-->
<!--      <img class="gborder " src="{{url_for('static', filename='graphresize.png')}}" alt="logo"><Br><Br>-->

<!--    </div>-->
<!--    <div class="carousel-item  " href="#one!">-->
<!--        <h6 class="black-text"><i class="material-icons small">trending_up</i> View how much each resume word is worth for your job </h6>-->
<!--      <img class="gborder " src="{{url_for('static', filename='Topkeywords5.PNG')}}" alt="logo"><br>-->
<!--    </div>-->


<!--    <div class="carousel-item " href="#two!">-->
<!--        <h6 class="black-text"><i class="material-icons small">dvr</i> Analyze the top 50 resume words </h6>-->
<!--      <img class="gborder " src="{{url_for('static', filename='detailedscoreresize.PNG')}}" alt="logo">-->
<!--    </div>-->


<!--  </div>-->

      <div class="row">
        <div class="col s12 m4 ">
          <div class="icon-block ">
              <h2 class="center light-blue-text"><img class="gray " width="100" height="100" src="{{url_for('static', filename='chip-head.png')}}" alt="logo"></h2>
            <h5 class=" center">Finds the keywords hiring managers want</h5>

            <p class="light">We looked through over 200 job descriptions and selected the best keywords</p>
          </div>
        </div>

        <div class="col s12 m4 ">
          <div class="icon-block ">
             <h2 class="center light-blue-text"><img class="gray " width="100" height="100" src="{{url_for('static', filename='monitor-cash-credit-card.png')}}" alt="logo"></h2>
            <h5 class="center">Know the value of a resume word</h5>

            <p class="light">We have assigned a dollar estimate to each word (wordstimate) with a state-of-the-art algorithim.</p>
          </div>
        </div>

        <div class="col s12 m4 ">
          <div class="icon-block ">
             <h2 class="center light-blue-text"><img width="100" class="gray " height="100" src="{{url_for('static', filename='monitor-window.png')}}" alt="logo"></h2>
            <h5 class="center">Learn keywords linked to higher salaries</h5>

            <p class="light">Search for words that link to different career paths and higher paying jobs</p>
          </div>
        </div>
      </div>


</div>



  </div>

  <div class="row ">
  <div class="container">

      <div class="row">
        <div class="col s12 m4 ">
        1
        </div>

        <div class="col s12 m4 ">
          2
        </div>

        <div class="col s12 m4 ">
         3
        </div>
      </div>


</div>



  </div>


<br><br>
  <footer class="page-footer grey ">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Large companies like Google, Microsoft and Facebook deploy cutting edge machine learning and statistical methods to make better products and increase their profit.  Now the same techniques are available to help you select the most relevant words on your resume and earn more money! </p>


        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text darken-4" href="https://docs.google.com/forms/d/e/1FAIpQLSdEYUo-uJ1RXnSmFzYTBpOTzZBFyr1ZNpbl6lMkGznTbfYU2g/viewform">  <i class="material-icons tiny">email</i>  Contact or Feedback</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="green-text text-lighten-3">Doug Meyers</a>
      </div>
    </div>
  </footer>

  </body>
</html>