<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
<script src="{{ url_for('static', filename='src/sigma.core.js') }}"></script>
<script src="{{ url_for('static', filename='src/conrad.js') }}"></script>
<script src="{{ url_for('static', filename='src/utils/sigma.utils.js') }}"></script>
<script src="{{ url_for('static', filename='src/utils/sigma.polyfills.js') }}"></script>
<script src="{{ url_for('static', filename='src/sigma.settings.js') }}"></script>
<script src="{{ url_for('static', filename='src/classes/sigma.classes.dispatcher.js') }}"></script>
<script src="{{ url_for('static', filename='src/classes/sigma.classes.configurable.js') }}"></script>
<script src="{{ url_for('static', filename='src/classes/sigma.classes.graph.js') }}"></script>
<script src="{{ url_for('static', filename='src/classes/sigma.classes.camera.js') }}"></script>
<script src="{{ url_for('static', filename='src/classes/sigma.classes.quad.js') }}"></script>
<script src="{{ url_for('static', filename='src/classes/sigma.classes.edgequad.js') }}"></script>
<script src="{{ url_for('static', filename='src/captors/sigma.captors.mouse.js') }}"></script>
<script src="{{ url_for('static', filename='src/captors/sigma.captors.touch.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/sigma.renderers.canvas.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/sigma.renderers.webgl.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/sigma.renderers.svg.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/sigma.renderers.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/webgl/sigma.webgl.nodes.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/webgl/sigma.webgl.nodes.fast.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/webgl/sigma.webgl.edges.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/webgl/sigma.webgl.edges.fast.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/webgl/sigma.webgl.edges.arrow.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.labels.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.hovers.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.nodes.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edges.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edges.curve.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edges.arrow.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edges.curvedArrow.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edgehovers.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edgehovers.curve.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edgehovers.arrow.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.extremities.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/svg/sigma.svg.utils.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/svg/sigma.svg.nodes.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/svg/sigma.svg.edges.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/svg/sigma.svg.edges.curve.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/svg/sigma.svg.labels.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/svg/sigma.svg.hovers.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/middlewares/sigma.middlewares.rescale.js') }}"></script>
<script src="{{ url_for('static', filename='src/middlewares/sigma.middlewares.copy.js') }}"></script>
<script src="{{ url_for('static', filename='src/misc/sigma.misc.animation.js') }}"></script>
<script src="{{ url_for('static', filename='src/misc/sigma.misc.bindEvents.js') }}"></script>
<script src="{{ url_for('static', filename='src/misc/sigma.misc.bindDOMEvents.js') }}"></script>
<script src="{{ url_for('static', filename='src/misc/sigma.misc.drawHovers.js') }}"></script>
<!-- END SIGMA IMPORTS -->
<script src="{{ url_for('static', filename='plugins/sigma.renderers.parallelEdges/utils.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curve.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curvedArrow.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curve.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curvedArrow.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.edgeLabels/settings.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js') }}"></script>

<script src="{{ url_for('static', filename='plugins/sigma.layout.forceAtlas2/supervisor.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.layout.forceAtlas2/worker.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js') }}"></script>


  <style type="text/css">
    body {
      margin: 0;
    }
    #sigma-container {

        max-width: 1200px;
        height: 600px;
        margin: auto;
    }
    .dataTables_filter {
        float: left !important;
    }
    .dataTables_filter input { width: 100px }

    .smalltextsize {
      font-size: 80%;
    }
    .whiteborder {
        border-color:white;
        border-width: 2px; /* this allows you to adjust the thickness */
        border-style: solid;
    }


  </style>

  <script>





    $(document).ready(function () {
        //$('.tooltipped').tooltip();
        var data = {{ data | tojson }};
        var high_keyword = {{high_keyword}}

        console.log(data);
        $('#table_id').DataTable( {
        data: data,
        lengthChange: false,
         searching: false,
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Search Results"
        },
        pageLength: 15,
        order: [3,'desc']  ,
          columns: [
              { data: 'keyword' },
              { data: 'POS' },
              { data: 'query' },
              { data: 'wordValue', render: $.fn.dataTable.render.number(',', '.', 0, '$')  },
              { data: 'keyword_count' }
          ],

  } );





    }); //onready




  </script>


  <title>{{searchQuery}}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159357780-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-159357780-1');
</script>
</head>

<body>

</body>


<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
          <div class="row center">
          <a href="https://www.moneyword.io"><img src="{{url_for('static', filename='moneyword.png')}}" alt="logo"><h8 class="red-text">Beta</h8></a><br>
          <h6 class="header col s12 light center ">Find out what resume words will help you earn more money</h6>
      </div>
    <h6>Top Resume Keywords for {{searchQuery}} </h6>


        <div class="row " center>
             <div class ="col s6 grey lighten-3 whiteborder ">
                 <div class="row ">
                    <div class ="col s12">
                        <h6>Top Nouns</h6>
                    </div>

                     <div class="col s6">
                        {% for n in range(nouns|length)%}
                        <span class=" smalltextsize">{{nouns[n]["keyword"]}}</span> <b><span class="green-text smalltextsize"> {{ "${:,.0f}".format(nouns[n]["wordValue"]) }}</span></b> <br>
                        {% endfor %}
                    </div>
                    <div class="col s6">
                        {% for n in range(nouns|length)%}
                            {% for c in range( returnNormalizedCount(nouns[n]["keyword_count"], high_keyword) ) %}
                                <i class="material-icons tiny green">attach_money</i>
                            {% endfor %}<br>
                         {% endfor %}

                    </div>
                 </div>
             </div>

             <div class ="col s6 grey lighten-3  whiteborder">
                <div class="row ">
                    <div class ="col s12">
                        <h6>Top Adjectives</h6>
                    </div>

                   <div class ="col s6">
                       {% for n in range(adjectives|length)%}
                            <span class=" smalltextsize">{{adjectives[n]["keyword"]}}</span> <b><span class="green-text smalltextsize"> {{ "${:,.0f}".format(adjectives[n]["wordValue"]) }}</span></b> <br>
                        {% endfor %}
                    </div>
                   <div class ="col s6">
                       {% for n in range(adjectives|length)%}
                            {% for c in range( returnNormalizedCount(adjectives[n]["keyword_count"], high_keyword) ) %}
                                <i class="material-icons tiny green">attach_money</i>
                        {% endfor %}<br>
                    {% endfor %}
                    </div>
                 </div>
             </div>
            <div class ="col s6 grey lighten-3 whiteborder">
                <div class="row ">
                    <div class ="col s12">
                        <h6>Top Verbs</h6>
                    </div>

                    <div class="col s6 ">
                        {% for n in range(verbs|length)%}
                        <span class=" smalltextsize"> {{verbs[n]["keyword"]}}</span> <b><span class="green-text smalltextsize"> {{ "${:,.0f}".format(verbs[n]["wordValue"]) }}</span></b> <br>
                        {% endfor %}
                    </div>
                    <div class="col s6 ">
                        {% for n in range(verbs|length)%}
                            {% for c in range(returnNormalizedCount(verbs[n]["keyword_count"], high_keyword) ) %}
                                <i class="material-icons tiny green">attach_money</i>
                            {% endfor %}<br>
                         {% endfor %}

                    </div>
                 </div>
             </div>
            <div class ="col s6 grey lighten-3 whiteborder ">
                <div class="row ">
                    <div class="col s12 ">
                         <h6>Top Adverbs</h6>
                    </div>

                    <div class="col s6 ">
                        {% for n in range(adverbs|length)%}
                            <span class=" smalltextsize"> {{adverbs[n]["keyword"]}}</span><b> <span class="green-text smalltextsize">  {{ "${:,.2f}".format(adverbs[n]["wordValue"]) }}</span></b>
                        {% endfor %}

                    </div>
                    <div class="col s6  ">
                        {% for n in range(adverbs|length)%}
                            {% for c in range(returnNormalizedCount(adverbs[n]["keyword_count"], high_keyword) ) %}
                                <i class="material-icons tiny green">attach_money</i>
                            {% endfor %}<br>
                        {% endfor %}


                    </div>
                 </div>
             </div>
        </div>



      <div class="row ">
     <h6>All Resume Keywords for {{searchQuery}}</h6>
     <table id="table_id" class="display" style="width:100%">
       <thead>
        <tr>
            <th>Keyword</th>
            <th>Part of Speech</th>
            <th>Job</th>
            <th>Wordstimate</th>
           <th>Score</th>
        </tr>
       </thead>
     </table>


      </div>


 <h6>Explore related jobs linked by shared keywords </h6>
       <p class="grey-text"> <i class="material-icons tiny">mouse</i> Double click and drag the jobs on the network visualization to explore different career paths!</p>
  </div>

      <div class="grey lighten-5">

          <div id="sigma-container"></div>
      </div><br>


        <script>
                var nodes = {{ nodes| tojson }};
    var edges = {{ edges| tojson }};

    var s = new sigma(
      {
        renderer: {
          container: document.getElementById('sigma-container'),
          type: 'canvas'
        },
        settings: {
            edgeLabelSize: 'fixed',
            sideMargin: 1.75

        }
      }
    );
    // Then, let's add some data to display:

    s.graph.read({
      nodes: nodes,
      edges: edges
    });
    s.bind('doubleClickNode', function(e) {
        console.log(e.type, e.data.node.label, e.data.captor);
        resultsURL = "/result/" + e.data.node.label;
        window.location.href = resultsURL;
    });
    // Finally, let's ask our sigma instance to refresh:
    s.refresh();

        // launch force-atlas for 5sec
    s.startForceAtlas2();
    window.setTimeout(function() {s.killForceAtlas2()}, 2000);

    // Initialize the dragNodes plugin:
    var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);

    dragListener.bind('startdrag', function(event) {
      console.log(event);
    });
    dragListener.bind('drag', function(event) {
      console.log(event);
    });
    dragListener.bind('drop', function(event) {
      console.log(event);
    });
    dragListener.bind('dragend', function(event) {
      console.log(event);
    });

        </script>
    </div>
  </div>




  <footer class="page-footer grey ">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Large companies like Google, Microsoft and Facebook deploy cutting edge machine learning and statistical methods to make better products and increase their profit.  Now the same techniques are available to help you select the most relevant words on your resume and earn more money! </p>


        </div>
 -
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text darken-4" href="https://docs.google.com/forms/d/e/1FAIpQLSdEYUo-uJ1RXnSmFzYTBpOTzZBFyr1ZNpbl6lMkGznTbfYU2g/viewform">  <i class="material-icons tiny">email</i>  Contact or Feedback</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="green-text text-lighten-3">Doug Meyers</a>
      </div>
    </div>
  </footer>

</body>

</html>