<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
<script src="{{ url_for('static', filename='src/sigma.core.js') }}"></script>
<script src="{{ url_for('static', filename='src/conrad.js') }}"></script>
<script src="{{ url_for('static', filename='src/utils/sigma.utils.js') }}"></script>
<script src="{{ url_for('static', filename='src/utils/sigma.polyfills.js') }}"></script>
<script src="{{ url_for('static', filename='src/sigma.settings.js') }}"></script>
<script src="{{ url_for('static', filename='src/classes/sigma.classes.dispatcher.js') }}"></script>
<script src="{{ url_for('static', filename='src/classes/sigma.classes.configurable.js') }}"></script>
<script src="{{ url_for('static', filename='src/classes/sigma.classes.graph.js') }}"></script>
<script src="{{ url_for('static', filename='src/classes/sigma.classes.camera.js') }}"></script>
<script src="{{ url_for('static', filename='src/classes/sigma.classes.quad.js') }}"></script>
<script src="{{ url_for('static', filename='src/classes/sigma.classes.edgequad.js') }}"></script>
<script src="{{ url_for('static', filename='src/captors/sigma.captors.mouse.js') }}"></script>
<script src="{{ url_for('static', filename='src/captors/sigma.captors.touch.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/sigma.renderers.canvas.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/sigma.renderers.webgl.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/sigma.renderers.svg.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/sigma.renderers.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/webgl/sigma.webgl.nodes.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/webgl/sigma.webgl.nodes.fast.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/webgl/sigma.webgl.edges.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/webgl/sigma.webgl.edges.fast.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/webgl/sigma.webgl.edges.arrow.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.labels.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.hovers.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.nodes.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edges.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edges.curve.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edges.arrow.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edges.curvedArrow.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edgehovers.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edgehovers.curve.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edgehovers.arrow.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/canvas/sigma.canvas.extremities.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/svg/sigma.svg.utils.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/svg/sigma.svg.nodes.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/svg/sigma.svg.edges.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/svg/sigma.svg.edges.curve.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/svg/sigma.svg.labels.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/renderers/svg/sigma.svg.hovers.def.js') }}"></script>
<script src="{{ url_for('static', filename='src/middlewares/sigma.middlewares.rescale.js') }}"></script>
<script src="{{ url_for('static', filename='src/middlewares/sigma.middlewares.copy.js') }}"></script>
<script src="{{ url_for('static', filename='src/misc/sigma.misc.animation.js') }}"></script>
<script src="{{ url_for('static', filename='src/misc/sigma.misc.bindEvents.js') }}"></script>
<script src="{{ url_for('static', filename='src/misc/sigma.misc.bindDOMEvents.js') }}"></script>
<script src="{{ url_for('static', filename='src/misc/sigma.misc.drawHovers.js') }}"></script>
<!-- END SIGMA IMPORTS -->
<script src="{{ url_for('static', filename='plugins/sigma.renderers.parallelEdges/utils.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curve.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curvedArrow.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curve.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curvedArrow.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.edgeLabels/settings.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js') }}"></script>

<script src="{{ url_for('static', filename='plugins/sigma.layout.forceAtlas2/supervisor.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sigma.layout.forceAtlas2/worker.js') }}"></script>



  <style type="text/css">
    body {
      margin: 0;
    }
    #sigma-container {

        max-width: 1000px;
        height: 600px;
        margin: auto;
    }
    .dataTables_filter {
        float: left !important;
    }
    .dataTables_filter input { width: 100px }

  </style>

  <script>





    $(document).ready(function () {

    var data = {{ data | tojson }};
    console.log(data);
    $('#table_id').DataTable( {
    data: data,
    lengthChange: false,
     searching: false,
    language: {
        search: "_INPUT_",
        searchPlaceholder: "Search Results"
    },
    pageLength: 15,
    order: [3,'desc']  ,
      columns: [
          { data: 'keyword' },
          { data: 'POS' },
          { data: 'query' },
          { data: 'keyword_count' }
      ],

  } );





    }); //onready




  </script>


  <title>{{searchQuery}}</title>
</head>

<body>

</body>


<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
          <div class="row center">
          <img src="{{url_for('static', filename='moneyword.png')}}" alt="logo"><h8 class="red-text">Beta</h8><br>
          <h6 class="header col s12 light center ">Find out what words will help you earn more money</h6>
      </div>

    <div class="row grey lighten-3" center>
        <div class ="col s4">
            <h5>Top Nouns</h5>
        </div>
        <div class ="col s4">
            <h5>Top Adjectives</h5>
        </div>
        <div class ="col s4">
            <h5>Top Verbs</h5>
        </div>

        <div class="col s2">
            {% for n in range(nouns|length)%}
                {{nouns[n]["keyword"]}} <br>
            {% endfor %}
        </div>
        <div class="col s2">
            {% for n in range(nouns|length)%}
                {% for c in range(nouns[n]["keyword_count"]) %}
                    <i class="material-icons tiny green">attach_money</i>
                {% endfor %}<br>
             {% endfor %}
            <br>
        </div>
        <div class="col s2">
            {% for n in range(adjectives|length)%}
                {{adjectives[n]["keyword"]}} <br>
            {% endfor %}

        </div>
        <div class="col s2">
            {% for n in range(adjectives|length)%}
                {% for c in range(adjectives[n]["keyword_count"]) %}
                    <i class="material-icons tiny green">attach_money</i>
                {% endfor %}<br>
            {% endfor %}
        <br>

        </div>
        <div class="col s2">
            {% for n in range(verbs|length)%}
                {{verbs[n]["keyword"]}} <br>
            {% endfor %}
        </div>
        <div class="col s2">
            {% for n in range(verbs|length)%}
                {% for c in range(verbs[n]["keyword_count"]) %}
                    <i class="material-icons tiny green">attach_money</i>
                {% endfor %}<br>
            {% endfor %}
        <br>
        </div>
    <br>
    </div>

      <div class="row ">
     <h5>Detailed Results</h5>
     <table id="table_id" class="display" style="width:100%">
       <thead>
        <tr>
            <th>Keyword</th>
            <th>POS</th>
            <th>Job</th>
           <th>Score</th>
        </tr>
       </thead>
     </table>


      </div>

      <br><br>
    <div id="sigma-container"></div>

        <script>
                var nodes = {{ nodes| tojson }};
    var edges = {{ edges| tojson }};

    var s = new sigma(
      {
        renderer: {
          container: document.getElementById('sigma-container'),
          type: 'canvas'
        },
        settings: {
            edgeLabelSize: 'fixed',
            sideMargin: 1.75

        }
      }
    );
    // Then, let's add some data to display:

    s.graph.read({
      nodes: nodes,
      edges: edges
    });

    // Finally, let's ask our sigma instance to refresh:
    s.refresh();

        // launch force-atlas for 5sec
    s.startForceAtlas2();
    window.setTimeout(function() {s.killForceAtlas2()}, 10000);

        </script>
    </div>
  </div>




  <footer class="page-footer grey ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Just a couple of guys trying to make their first million (or 2)</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3">Doug Meyers</a>
      </div>
    </div>
  </footer>

</body>

</html>